.music {
  width: 25px;
  height: 21px;
  position: absolute;
  top: 2px;
  left: -12px;
  color: var(--fg);
  display: flex;
  align-items: center;
  justify-content: center;

  &.off {
    opacity: 0.35;
  }

  svg {
    display: block;
  }
}
